%h1 Potee

= link_to projects_path do
  = image_tag 'http://f.cl.ly/items/323N272z1T0k230W441K/100.png'

- if current_user
  Welcome, #{current_user.name}
  = link_to "Log out", logout_url
- else
  = link_to image_tag('facebook_64.png'), '/auth/facebook'
  = link_to image_tag('twitter_64.png'), '/auth/twitter?force_login=true'
  = link_to image_tag('google_64.png'), '/auth/google_oauth2'

= link_to 'Pivotal', 'https://www.pivotaltracker.com/projects/664921'
