%h1 Potee

= link_to projects_path do
  = image_tag 'http://f.cl.ly/items/323N272z1T0k230W441K/100.png'

- if current_user
  Welcome, #{current_user.name}
  = link_to "Log out", logout_url
- else
  = link_to 'Login with Facebook', '/auth/facebook'


= link_to 'Pivotal', 'https://www.pivotaltracker.com/projects/664921'
