<table>
  <thead>
    <tr>
      <% for(var i = 0; i < weeks.length; i++) { %>
        <td width="<%= weeks[i].width %>px" class="<%= weeks[i].css_class %>">
          <div class='week_month'><%= weeks[i].month %></div>
          <div class='week_details'><%= weeks[i].details %></div>
        </td>
    <% } %>
    </tr>
  </thead>
  <tbody>
     <tr>
     <% for(var i = 0; i < weeks.length; i++) { %>
       <td width="<%= weeks[i].width %>px" class="<%= weeks[i].css_class %>"></td>
     <% } %>
     </tr>
   </tbody>
</table>
