!!!
%html
  %head
    %title Potee, visual time management
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = favicon_link_tag image_path "favicon.ico"
    %meta{:name => 'title', :content => 'Potee, visual time management'}
    %meta{:name => 'description', :content => 'New way of planning. Now you know what is the next step in your projects.'}
    %meta{:name => 'image_src', :content =>  root_url + image_path('logo_potee_background.png') }
    = csrf_meta_tags
    :plain
      <script type="text/javascript" src="//use.typekit.net/jun8pbk.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <link rel="stylesheet" href="css/fontello.css">
      <!--[if IE 7]><link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->
    = yield(:head)

  %body
    - if controller.is_a? ProjectsController
      %header.navbar.navbar-fixed-top.navbar-inverse
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'

    = yield
    -#:plain
      -#<!-- Place this before your front page's </body> tag. -->
      -#<script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>>

